typing-extensions
asgiref
sqlparse
django
#adding...
dj-database-url 
psycopg2-binary

gunicorn
whitenoise
requests

#additional django modules
django-appconf
django-auditlog
django-axes
django-cassandra-engine
django-ipware
django-jsonfield
django-ratelimit
djangorestframework
markdown
django-filter
# django-restframework
# django-celery-beat
django-notifications-hq
django-admin-ip-whitelist



# $$ Installation processes $$
# poetry add django
# poetry add dj-database-url psycopg2-binary gunicorn whitenoise requests
# poetry add django-appconf django-auditlog django-axes django-cassandra-engine django-ipware django-jsonfield django-ratelimit django-restframework markdown django-filter django-notifications-hq django-admin-ip-whitelist